<div class="poster-wrapper" #posterWrapper>
    <div class="w-full h-full flex items-center justify-center overflow-hidden bg-black relative">

        @if (isLoading() || loadingProgress() < 100) { <div class="absolute top-0 left-0 w-full h-1 z-[99999]">
            <div class="loading-bar transition-all duration-300 ease-out shadow-[0_0_10px_rgba(255,255,255,0.5)]"
                [style.width.%]="loadingProgress()" [style.backgroundColor]="theme()?.text || '#ffffff'">
            </div>
    </div>
    }

    <div id="poster-container-wrapper" class="poster-container-wrapper">
        <div id="poster-container" #posterContainer class="poster-container"></div>
    </div>
</div>
</div>